*.bak
*.BASE
*.env*
*.LOCAL
*.log
*.map
*.opts
*.orig
*.rb
*.REMOTE
*.sass
*.sh
*.sublime-project
*.sublime-workspace
*.ttf
*~
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.cache-require-paths.json
.DocumentRevisions-V100
.DS_Store
.eslint-cache
.eslintcache
.fseventsd
.LSOverride
.nyc_output
.Spotlight-V100
.TemporaryItems
.tern-port
.Trashes
.VolumeIcon.icns
.vs/
.vscode/
build
complexity
complexity.md
coverage
dist
env.*
Icon
ignore
images
lcov.info
migrations
Network Trash Folder
node_modules
npm-debug.log*
static/favicon
Temporary Items
yarn.lock
.history
docs/
